// Place all the styles related to the Messages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.author {
  font-size: 24px;
  color: #9e9e9e;
}

.receiver {
  font-size: 14px;
  color: #bdbdbd;
}
